apiVersion: backstage.io/v1alpha1
kind: ${{ values.kind }}
metadata:
  name: ${{ values.name }}
  title: ${{ values.name | replace(" ", "-") | lower}}
  description: ${{ values.description }}
  annotations:
    github.com/project-slug: ${{ values.repoSlug }}
    {%if values.techDocsPath %}backstage.io/techdocs-ref: ${{values.techDocsPath}}{% endif %}
    {%if values.argoAppName %}argocd/app-name: ${{values.argoAppName}}{% endif %}
    {%if values.pagerdutyServiceId %}pagerduty.com/service-id: ${{values.pagerdutyServiceId}}{% endif %}
  {%if values.entityTags %}tags:
    ${{ values.entityTags }}{% endif %}
  {%if values.entityLabels %}labels:
    ${{ values.entityLabels }}{% endif %}
  {%if values.entityLinks %}links:
    ${{ values.entityLinks }}{% endif %}
spec:
  type: ${{ values.type }}
  owner: ${{ values.owner }}
  {%if values.productOwner %}productOwner: ${{values.productOwner}}{% endif %}
  lifecycle: ${{ values.lifecycle }}
  {%if values.system %}system: ${{ values.system }}{% endif %}
  {%if values.subcomponentOf %}subcomponentOf: ${{values.subcomponentOf}}{% endif %}
  {%if values.dependsOn %}dependsOn: ${{values.dependsOn}}{% endif %}
  {%if values.providesApis %}providesApis: ${{values.providesApis}}{% endif %}
  {%if values.consumesApis %}consumesApis: ${{values.consumesApis}}{% endif %}
  {%if values.apiProvidedBy %}apiProvidedBy: ${{values.apiProvidedBy}}{% endif %}
  {%if values.apiConsumedBy %}apiConsumedBy: ${{values.apiConsumedBy}}{% endif %}