apiVersion: backstage.io/v1alpha1
kind: ${{ values.kind }}
metadata:
  name: ${{ values.name }}
  title: ${{ values.name | replace(" ", "-") | lower}}
  description: ${{ values.description }}
  annotations:
    github.com/project-slug: ${{ values.repoSlug }}
    {%if values.techDocsPath -%}backstage.io/techdocs-ref: ${{values.techDocsPath}}{%- endif %}
    {%if values.argoAppName -%}argocd/app-name: ${{values.argoAppName}}{%- endif %}
    {%if values.pagerdutyServiceId -%}pagerduty.com/service-id: ${{values.pagerdutyServiceId}}{%- endif %}
  {%if values.entityTags -%}tags:{% for tag in values.entityTags %}
    - ${{ tag }}{% endfor %}{%- endif %}
  {%if values.entityLabels %}labels: ${{ values.entityLabels }}{% endif %}
  {%if values.entityLinks %}links:{% for link in values.entityLinks %}{% for k, v in link %}
    - ${{ k }}:${{ v }}{% endfor %}{% endfor %}{% endif %}
spec:
  type: ${{ values.type }}
  owner: ${{ values.owner }}
  {%if values.productOwner %}productOwner: ${{values.productOwner}}{% endif %}
  lifecycle: ${{ values.lifecycle }}
  {%if values.system %}system: ${{ values.system }}{% endif %}
  {%if values.subcomponentOf %}subcomponentOf: ${{values.subcomponentOf}}{% endif %}
  {%if values.dependsOn %}dependsOn:{% for dependency in values.dependsOn %}
    - ${{ dependency }}{% endfor %}{% endif %}
  {%if values.providesApis %}providesApis:{% for providedApi in values.providesApis %}
    - ${{ providedApi }}{% endfor %}{% endif %}
  {%if values.consumesApis %}consumesApis:{% for consumedApi in values.consumesApis %}
    - ${{ consumedApi }}{% endfor %}{% endif %}
  {%if values.definition %}definition: |
    ${{values.definition}}{% endif %}