apiVersion: backstage.io/v1alpha1
kind: ${{ values.kind }}
metadata:
  name: ${{ values.name | replace(" ", "-") | lower }}
  {% if values.title %}title: ${{ values.title }}
  {% endif -%}
  description: ${{ values.description }}
  annotations:
    github.com/project-slug: ${{ values.repoSlug }}
{% if values.techDocsPath %}    backstage.io/techdocs-ref: ${{ values.techDocsPath }}
{% endif -%}
{% if values.jenkinsJobName %}    jenkins.io/job-full-name: ${{ values.jenkinsJobName }}
{% endif -%}
{% if values.sentrySlug %}    sentry.io/project-slug: ${{ values.sentrySlug }}
{% endif -%}
{% if values.sonarqubeKey %}    sonarqube.org/project-key: ${{ values.sonarqubeKey }}
{% endif -%}
{% if values.entityTags and values.entityTags|length > 0%}  tags:{% for tag in values.entityTags %}
    - ${{ tag }}{% endfor %}
{% endif -%}
{% if values.entityLabels %}  labels: ${{ values.entityLabels }}
{% endif -%}
{% if values.entityLinks and values.entityLinks|length > 0%}  links:{% for link in values.entityLinks %}
    - {% for k, v in link %}${{ k }}: ${{ v }}
      {% endfor %}{% endfor -%}
{% endif %}
spec:
  type: ${{ values.type }}
  lifecycle: ${{ values.lifecycle }}
  owner: ${{ values.owner }}
{% if values.productOwner %}  productOwner: ${{ values.productOwner }}
{% endif -%}
{% if values.system %}  system: ${{ values.system }}
{% endif -%}
{% if values.subcomponentOf %}  subcomponentOf: ${{ values.subcomponentOf }}
{% endif -%}
{% if values.dependsOn and values.dependsOn|length > 0 %}  dependsOn:{% for dependency in values.dependsOn %}
    - ${{ dependency }}{% endfor %}
{% endif -%}
{% if values.providesApis and values.providesApis|length > 0 %}  providesApis:{% for providedApi in values.providesApis %}
    - ${{ providedApi }}{% endfor %}
{% endif -%}
{% if values.consumesApis and values.consumesApis|length > 0%}  consumesApis:{% for consumedApi in values.consumesApis %}
    - ${{ consumedApi }}{% endfor %}
{% endif -%}
{% if values.definitionInput == 'URL' and values.definitionUrl %}  definition:
    $text: ${{ values.definitionUrl }}
{% endif -%}
{% if values.definitionInput == 'Text' and values.definitionText %}  definition: |
    ${{ values.definitionText | indent }}
{% endif -%}